<!DOCTYPE html>
<html lang="en" dir="ltr">

<header>
  <% include ../partials/head %>
</header>
<h1 class="text-center">Choose your lair</h1>
  <body class="property_page">

  <div class="text-center">
    <div class="annoying-text">
    <h5><%= my_listing.dataValues.title %></h5>
    <div><%= my_listing.dataValues.description %></div>
    <p>£ <%= my_listing.dataValues.price %></p>
    <p>Available: <%= my_listing.dataValues.dates %></p>
    <p>Owner: <%= my_listing.User.dataValues.name %> email: <%= my_listing.User.dataValues.email %> tel: <%= my_listing.User.dataValues.phone_nr%> </p>
  </div>
  </div>


  <footer><% include ../partials/footer %></footer>
</body>
</html>
